.image {
//    opacity: 0.2;
   height: 600px;
//    width: 300px;
}

.card-title {
    color: red;
}

.body {
    background: gray;
}

.movie-card {
    border: solid red;
    // margin: auto;
height: 840px;
    // // padding: 10px;
    // margin: 5px;
}
